#app {
    display: flex;
    flex-direction: row;
}

.step {
    height: 100vh;
    padding: 5rem;
    border: 1px solid black;
    
    text-align: center;

    /* Use all the space */
    flex: 1;
}